
#include "plg_rsrc.h"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

IDD_ABOUT DIALOG 95, 92, 126, 67
STYLE DS_SETFONT | WS_POPUP | WS_VISIBLE | DS_MODALFRAME
EXSTYLE WS_EX_LAYERED
FONT 10, "Tahoma" {
	CONTROL "", IDS_ABOUTSPLASH, "Static", SS_BITMAP, -2,-2, 100, 50
	CTEXT PLUGINNAME, IDC_STATIC, 0, 35, 126, 10
	CTEXT "", IDC_VERSIONTEXT, 0, 43, 126, 10
	PUSHBUTTON "&close", IDCANCEL, 1, 56, 124, 10, , 0x4000 | WS_EX_STATICEDGE
}

IDD_CSC DIALOG 200, 50, 317, 252
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Code snippet creator"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "Tahoma" {
	PUSHBUTTON "Go!", IDOK, 219, 235, 44, 14, BS_DEFPUSHBUTTON | WS_GROUP, 0x4000 | WS_EX_STATICEDGE
	PUSHBUTTON "Cancel", IDCANCEL, 268, 235, 44, 14, , 0x4000 | WS_EX_STATICEDGE
	PUSHBUTTON "About", IDABOUT, 5, 235, 44, 14, , 0x4000 | WS_EX_STATICEDGE
	CONTROL "", IDC_TABCTL, WC_TABCONTROL, WS_VISIBLE | TCS_HOTTRACK | TCS_TABS | WS_TABSTOP | WS_GROUP, 0, 0, 317, 230
}

IDD_CSC_TAB1 DIALOG 2, 13, 313, 211
STYLE DS_SETFONT | WS_CHILD | WS_TABSTOP
EXSTYLE WS_EX_CONTROLPARENT
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "Tahoma" {
	GROUPBOX "Follow refs from code", IDC_STATIC, 5, 3, 96, 36, WS_VISIBLE | WS_GROUP
	CHECKBOX "To cod&e", IDC_CSC_CODE2CODE, 11, 12, 85, 12, BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP | WS_GROUP // | BS_OWNERDRAW
	CHECKBOX "To da&ta", IDC_CSC_CODE2DATA, 11, 24, 85, 12, BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP // | BS_OWNERDRAW
	GROUPBOX "Follow refs from data", IDC_STATIC, 5, 40, 96, 36, WS_VISIBLE | WS_GROUP
	CHECKBOX "To c&ode", IDC_CSC_DATA2CODE, 11, 49, 85, 12, BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP | WS_GROUP // | BS_OWNERDRAW
	CHECKBOX "To d&ata", IDC_CSC_DATA2DATA, 11, 61, 85, 12, BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP // | BS_OWNERDRAW
	GROUPBOX "Type", IDC_STATIC, 106, 3, 47, 73, WS_VISIBLE | WS_GROUP
	CHECKBOX "&CRefs", IDC_CREFS, 113, 12, 37, 12, BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP | WS_GROUP // | BS_OWNERDRAW
	CHECKBOX "&DRefs", IDC_DREFS, 113, 24, 37, 12, BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP // | BS_OWNERDRAW
	LTEXT "Follow from... and Types filters are in logical AND relation", IDC_STATIC, 7, 79, 142, 18, WS_GROUP
	GROUPBOX "Function filtering", IDC_STATIC, 5, 98, 149, 70, WS_VISIBLE
	CHECKBOX "Include &library functions", IDC_CSCLIBSBOX, 11, 107, 136, 12, BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP | WS_GROUP // | BS_OWNERDRAW
	CHECKBOX "Remap impaddrs to real func offsets", IDC_RELOCXTRNFUNC, 20, 118, 127, 12, BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP | WS_GROUP // | BS_OWNERDRAW
	CHECKBOX "Remap impaddrs to real var offsets", IDC_RELOCXTRNVAR, 20, 129, 127, 12, BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP // | BS_OWNERDRAW
	CHECKBOX "Include f&orwarder (thunk) functions", IDC_CSCIMPORTS, 11, 141, 136, 12, BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP | WS_GROUP // | BS_OWNERDRAW
	CHECKBOX "Include &hidden items", IDC_CSCHIDDEN, 11, 153, 136, 12, BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP // | BS_OWNERDRAW
	CHECKBOX "S&udden death on first fatal", IDC_SUDDENDEATH, 11, 172, 134, 12, BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP | WS_GROUP // | BS_OWNERDRAW
	LTEXT "Logging &verbosity", IDC_STATIC, 11, 188, 70, 12
	COMBOBOX IDC_VERBOSITY, 81, 185, 65. 85, CBS_DROPDOWNLIST | WS_VISIBLE | WS_TABSTOP | WS_CHILD | WS_VSCROLL, WS_EX_CLIENTEDGE
	CHECKBOX "Run in unattended mode", IDC_UNATTENDED, 11, 199, 97, 12, BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP | WS_GROUP // | BS_OWNERDRAW
	CHECKBOX "F&lowgraph", IDC_CREATEGRAPH, 109, 199, 48, 12, BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP | WS_GROUP
// 	LTEXT "Max. ranges limit", IDC_STATIC, 11, 174, 80, 12
// 	EDITTEXT IDC_MAX_RANGES, 105, 172, 48, 12, WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL | ES_RIGHT
// 	CONTROL "", IDC_UPDOWN1, UPDOWN_CLASS, WS_CHILD | WS_VISIBLE | UDS_AUTOBUDDY | UDS_ALIGNRIGHT | UDS_SETBUDDYINT | UDS_NOTHOUSANDS | UDS_ARROWKEYS | UDS_HOTTRACK, 0, 0, 8, 12
// 	LTEXT "Max. running time", IDC_STATIC, 11, 188, 80, 12
// 	CONTROL "", IDC_MAXRUNTIME, DATETIMEPICK_CLASS, WS_CHILD | WS_VISIBLE | DTS_TIMEFORMAT | DTS_UPDOWN, 105, 186, 48, 12
	GROUPBOX "Data && formatting", IDC_STATIC, 159, 3, 149, 81, WS_VISIBLE | WS_GROUP
	LTEXT "Offsets &alignment", IDC_STATIC, 165, 14, 79, 12, WS_VISIBLE
	EDITTEXT IDC_OFFBOUNDARY, 244, 12, 58, 12, WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL | ES_RIGHT
	CONTROL "", IDC_UPDOWN2, UPDOWN_CLASS, WS_CHILD | WS_VISIBLE | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_HOTTRACK, 0, 0, 8, 12
	CHECKBOX "Reco&gnize offsets", IDC_CREATEOFFSETS, 165, 23, 70, 12, BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP // | BS_OWNERDRAW
	CHECKBOX "Only to &not tails", IDC_OFFTOHEAD, 174, 34, 70, 12, BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP // | BS_OWNERDRAW
	CHECKBOX "Only to de&fined items (heads)", IDC_OBEYDEFHEAD, 183, 45, 119, 12, BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP // | BS_OWNERDRAW
	CHECKBOX "Re&solve local<->global names conflicts", IDC_RESOLVENAMES, 165, 57, 136, 12, BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP | WS_GROUP // | BS_OWNERDRAW
	CHECKBOX "Tr&y to detect align directives", IDC_MAKEALIGNS, 165, 69, 136, 12, BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP | WS_GROUP // | BS_OWNERDRAW
	GROUPBOX "Compatibility && format", IDC_STATIC, 159, 86, 149, 125, WS_VISIBLE | WS_GROUP
	LTEXT "Target asse&mbler", IDC_STATIC, 165, 99, 60, 12,  WS_GROUP
	COMBOBOX IDC_ASMMODEL, 224, 97, 78. 85, CBS_DROPDOWNLIST | WS_VISIBLE | WS_TABSTOP | WS_GROUP | WS_CHILD | WS_VSCROLL, WS_EX_CLIENTEDGE
	CHECKBOX "Include &typedefs into sou&rce", IDC_TYPEDEFS, 165, 110, 136, 12, BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP // | BS_OWNERDRAW
	CHECKBOX "&Kill structs (MASM compat.)", IDC_DESTROYSTRUCTS, 165, 122, 136, 12, BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP // | BS_OWNERDRAW
	CHECKBOX "Anchor &stroffs to static struct base", IDC_ANCHORSTROFFS, 165, 134, 136, 12, BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP // | BS_OWNERDRAW
	CHECKBOX "Kill &enums (compat.)", IDC_KILLENUMS, 165, 146, 136, 12, BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP // | BS_OWNERDRAW
	CHECKBOX "Ex&clude externdefs", IDC_EXTERNDEFS, 165, 158, 136, 12, BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP // | BS_OWNERDRAW
	CHECKBOX "E&xecute basic code cleanup", IDC_WIPEOUT, 165, 170, 136, 12, BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP // | BS_OWNERDRAW
	CHECKBOX "R&un external filter upon output", IDC_EXTFILTER, 165, 182, 125, 12, BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP // | BS_OWNERDRAW
	CONTROL "", IDC_FLTCOMMAND, "EDIT", WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL | WS_GROUP, 177, 194, 113, 12, WS_EX_CLIENTEDGE
	PUSHBUTTON "…", IDBROWSE, 290, 194, 12, 12, WS_VISIBLE | WS_GROUP, 0x4000 | WS_EX_STATICEDGE
}

IDD_CSC_TAB2 DIALOG 2, 13, 313, 211
STYLE DS_SETFONT | WS_CHILD | WS_TABSTOP
EXSTYLE WS_EX_CONTROLPARENT
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "Tahoma" {
	GROUPBOX "", IDC_STATIC8, 5, 4, 302, 49, WS_VISIBLE | WS_GROUP
	CHECKBOX "R&esolve runtime addressing by tracer", IDC_DBG_RESOLVE_RTA, 11, 3, 134, 12, BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP | WS_GROUP // | BS_OWNERDRAW
	CHECKBOX "&Make references", IDC_REFRTI, 20, 14, 124, 12, BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP | WS_GROUP // | BS_OWNERDRAW
	CHECKBOX "Resolved addresses to c&omment", IDC_CMTRTI, 20, 25, 124, 12, BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP // | BS_OWNERDRAW
	CHECKBOX "Don't show &warning nag", IDC_DONT_SHOW_RTR_NAG, 20, 36, 124, 12, BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP // | BS_OWNERDRAW

	GROUPBOX "", IDC_STATIC9, 5, 56, 302, 140, WS_VISIBLE | WS_GROUP
	CHECKBOX "D&ump process runtime data", IDC_DBG_SAVE_VALUES, 11, 55, 105, 12, BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP | WS_GROUP // | BS_OWNERDRAW
	CHECKBOX "&Keep &patched static runtime data", IDC_KEEPINITDATA, 20, 66, 200, 12, BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP | WS_GROUP // | BS_OWNERDRAW
	CHECKBOX "E&xplore && clone process virtual data", IDC_EXPLOREHEAPS, 20, 77, 150, 12, BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP // | BS_OWNERDRAW
	CHECKBOX "&Honour existing offsets", IDC_HONOUROFFSETS, 170, 77, 100, 12, BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP | WS_GROUP // | BS_OWNERDRAW
	LTEXT "Max. clona&ble block size", IDC_STATIC3, 28, 92, 88, 12
	EDITTEXT IDC_MAXCLONABLE, 116, 90, 40, 12, WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL | ES_RIGHT
	LTEXT "M&ax. offsetable block size", IDC_STATIC4, 172, 92, 88, 12
	EDITTEXT IDC_MAXOFFSETABLE, 260, 90, 40, 12, WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL | ES_RIGHT
	CHECKBOX "Enable recognition of &VirtualAlloc blocks", IDC_ENABLEVALLOC, 28, 106, 140, 12, BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP // | BS_OWNERDRAW
	LTEXT "M&in. block size", IDC_STATIC5, 190, 108, 50, 12
	EDITTEXT IDC_MINVALLOCBLK, 250, 105, 50, 12, WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL | ES_RIGHT
	LTEXT "Offsets to &static", IDC_STATIC1, 28, 124, 65, 12
	COMBOBOX IDC_OFFTOSTAT, 93, 121, 65. 85, CBS_DROPDOWNLIST | WS_VISIBLE | WS_TABSTOP | WS_CHILD | WS_VSCROLL, WS_EX_CLIENTEDGE
	CHECKBOX "Offsets only to &named items", IDC_CARENAMES, 28, 135, 142, 12, BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP | WS_GROUP // | BS_OWNERDRAW
	CHECKBOX "Offsets only to &reffed items", IDC_CAREREFS, 28, 146, 142, 12, BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP // | BS_OWNERDRAW
	CHECKBOX "Offsets only to &function start", IDC_CAREFUNCS, 28, 157, 142, 12, BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP // | BS_OWNERDRAW
	LTEXT "Offsets to &dynamic", IDC_STATIC2, 170, 124, 65, 12
	COMBOBOX IDC_OFFTODYN, 235, 121, 65. 85, CBS_DROPDOWNLIST | WS_VISIBLE | WS_TABSTOP | WS_CHILD | WS_VSCROLL, WS_EX_CLIENTEDGE
	CHECKBOX "Project &imports directly", IDC_MAPIMPSDIR, 170, 135, 142, 12, BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP // | BS_OWNERDRAW
	LTEXT "Max. recursion &level", IDC_STATIC6, 190, 159, 70, 12
	EDITTEXT IDC_MAXRECURSION, 260, 157, 40, 12, WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL | ES_RIGHT | WS_GROUP
	CONTROL "", IDC_UPDOWN1, UPDOWN_CLASS, WS_CHILD | WS_VISIBLE | UDS_AUTOBUDDY | UDS_ALIGNRIGHT | UDS_SETBUDDYINT | UDS_NOTHOUSANDS | UDS_ARROWKEYS | UDS_HOTTRACK, 0, 0, 8, 12
	CHECKBOX "Don't show warning na&g", IDC_DONT_SHOW_DUMPER_NAG, 20, 180, 200, 12, BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP | WS_GROUP // | BS_OWNERDRAW
	
	CHECKBOX "&Circular resolving till get all", IDC_CIRCULRESOLV, 6, 200, 127, 12, BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP | WS_GROUP // | BS_OWNERDRAW
}

// 101 ICON ".\\codesnippet.ico" // IDI_APPICON

#ifdef SOUNDFX
IDR_SOUNDFX RCDATA ".\\csc.xm"
#endif // SOUNDFX

1 RT_MANIFEST ".\\csc.manifest"

// IDP_FMTIDASRC rcdata "..\\..\\perl\\fmtidasrc.pl"
// IDP_DIR rcdata "..\\..\\perl\\lib\\dir.pm"
// IDP_FTIME rcdata "..\\..\\perl\\lib\\ftime.pm"

#ifdef USE_VS_VERSION_INFO
VS_VERSION_INFO VERSIONINFO
	FILEVERSION PLUGINVERSION
	PRODUCTVERSION PLUGINVERSION
	FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
	FILEFLAGS 0x1L // Debug
#else
	FILEFLAGS 0x2L // PreRelease
#endif
	FILEOS 0x00004L // Win32
	FILETYPE 0x2L   // DLL
	FILESUBTYPE 0x1L // #N/A
	BEGIN
		BLOCK "StringFileInfo"
		BEGIN
			BLOCK "040904b0"
			BEGIN
				VALUE "CompanyName", "semteksoft corporation, inc.\0"
				VALUE "FileDescription", PLUGINNAME "\0"
				VALUE "FileVersion", PLUGINVERSIONTEXT "\0"
				VALUE "InternalName", PLUGIN "\0"
				VALUE "OriginalFilename", PLUGIN "." MODEXT "\0"
				VALUE "ProductName", PLUGINNAME "\0"
				VALUE "ProductVersion", PLUGINVERSIONTEXT "\0"
				VALUE "LegalCopyright", "© 2003-2008 servil\0"
				VALUE "Comments", "IDA API V" SDK "\0"
			END
		END
		BLOCK "VarFileInfo"
		BEGIN
			VALUE "Translation", 0x409, 1200
		END
	END
#endif // USE_VS_VERSION_INFO
