
#include "plg_rsrc.h"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

IDD_LNM DIALOG 50, 0, 159, 272
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_SETFONT
CAPTION "Lib names matching"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "Tahoma" {
	LTEXT "Add all available &libraries", IDC_STATIC, 7, 5, 145, 12
	LISTBOX IDC_USERLIBS, 7, 18, 127, 120, WS_BORDER | WS_TABSTOP | LBS_STANDARD | LBS_MULTIPLESEL, WS_EX_CLIENTEDGE
	PUSHBUTTON "+", IDADD, 140, 18, 14, 12, , 0x4000 | WS_EX_STATICEDGE
	PUSHBUTTON "-", IDREMOVE, 140, 33, 14, 12, , 0x4000 | WS_EX_STATICEDGE
	PUSHBUTTON "&G", IDEDITGROUPS, 140, 112, 14, 12, , 0x4000 | WS_EX_STATICEDGE
	GROUPBOX "Names to match", IDC_STATIC, 7, 129, 90, 48, WS_VISIBLE
	CONTROL "&Code only", IDC_FUNCTIONS, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_GROUP, 11, 138, 75, 12
	CONTROL "&Data only", IDC_VARS, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 11, 150, 75, 12
	CONTROL "&All names", IDC_ALL, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 11, 162, 75, 12
	CHECKBOX "Ignore &name type (mix everything)", IDC_IGNORESECTION, 7, 184, 150, 12, BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP | WS_GROUP // | BS_OWNERDRAW
	CHECKBOX "Any &segment type", IDC_ALLSEGS, 7, 196, 150, 12, BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP | WS_GROUP // | BS_OWNERDRAW
	CHECKBOX "&Fix mangling mismatches on functions", IDC_FIXMANGLING, 7, 208, 150, 12, BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP // | BS_OWNERDRAW
	CHECKBOX "&Ignore case (care!)", IDC_CASELESS, 15, 220, 137, 12, BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP // | BS_OWNERDRAW
	CHECKBOX "&Unname items unavailable in library", IDC_UNNAMENOMATCH, 7, 232, 150, 12, BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP // | BS_OWNERDRAW
	CHECKBOX "&Hide items available in library", IDC_COLLAPSEMATCHING, 7, 244, 145, 12, BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP // | BS_OWNERDRAW
	CHECKBOX "Al&ternate lookup method", IDC_FASTMATCH, 7, 256, 145, 12, BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP // | BS_OWNERDRAW
	DEFPUSHBUTTON "&Match names", IDOK, 105, 133, 50, 14, WS_GROUP, 0x4000 | WS_EX_STATICEDGE
	PUSHBUTTON "Cancel", IDCANCEL, 105, 150, 50, 14, , 0x4000 | WS_EX_STATICEDGE
	PUSHBUTTON "About", IDABOUT, 105, 167, 50, 14, , 0x4000 | WS_EX_STATICEDGE
}

IDD_GROUPMGR DIALOG 50, 50, 300, 200
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_SETFONT
CAPTION "Manage file groups"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "Tahoma" {
	CONTROL "", IDC_GROUPVWR, WC_TREEVIEW, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL | TVS_HASLINES | TVS_LINESATROOT | TVS_HASBUTTONS | TVS_EDITLABELS | TVS_SHOWSELALWAYS | TVS_TRACKSELECT, 7, 7, 286, 165, WS_EX_CLIENTEDGE
	PUSHBUTTON "New &group", IDADDGROUP, 7, 179, 50, 14, , 0x4000 | WS_EX_STATICEDGE
	PUSHBUTTON "Add &file(s)", IDADD, 64, 179, 50, 14, , 0x4000 | WS_EX_STATICEDGE
	PUSHBUTTON "&Delete", IDREMOVE, 121, 179, 50, 14, , 0x4000 | WS_EX_STATICEDGE
	DEFPUSHBUTTON "&OK", IDOK, 186, 179, 50, 14, WS_GROUP, 0x4000 | WS_EX_STATICEDGE
	PUSHBUTTON "&Cancel", IDCANCEL, 243, 179, 50, 14, , 0x4000 | WS_EX_STATICEDGE
}
