
#include "plg_rsrc.h"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

IDD_RUNTIMEIMPORT DIALOG 200, 50, 202, 137
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_SETFONT
CAPTION "Import runtime information"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "Tahoma" {
	GROUPBOX "Evaluated addresses", IDC_STATIC, 4, 4, 134, 39, WS_VISIBLE
	CHECKBOX "Make &references", IDC_REFRTI, 11, 15, 124, 12, BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP // | BS_OWNERDRAW
	CHECKBOX "Resolved addresses to &comment", IDC_CMTRTI, 11, 27, 124, 12, BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP // | BS_OWNERDRAW
	GROUPBOX "Register values to comment", IDC_STATIC, 4, 48, 134, 39, WS_VISIBLE
	CHECKBOX "EAX", IDC_EAX, 11, 59, 28, 12, BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP // | BS_OWNERDRAW
	CHECKBOX "ECX", IDC_ECX, 42, 59, 28, 12, BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP // | BS_OWNERDRAW
	CHECKBOX "EDX", IDC_EDX, 73, 59, 28, 12, BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP // | BS_OWNERDRAW
	CHECKBOX "EBX", IDC_EBX, 104, 59, 28, 12, BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP // | BS_OWNERDRAW
	CHECKBOX "ESP", IDC_ESP, 11, 71, 28, 12, BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP // | BS_OWNERDRAW
	CHECKBOX "EBP", IDC_EBP, 42, 71, 28, 12, BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP // | BS_OWNERDRAW
	CHECKBOX "ESI", IDC_ESI, 73, 71, 28, 12, BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP // | BS_OWNERDRAW
	CHECKBOX "EDI", IDC_EDI, 104, 71, 28, 12, BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP // | BS_OWNERDRAW
	LTEXT "Path to debugger trace&log", IDC_STATIC, 7, 91, 96, 12
	CONTROL "", IDC_TRACELOG, "EDIT", WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL, 7, 102, 179, 12, WS_EX_CLIENTEDGE
	PUSHBUTTON "ù", IDBROWSE, 185, 102, 12, 12, , 0x4000 | WS_EX_STATICEDGE
	LTEXT "Run-time &image base", IDC_STATIC, 7, 120, 73, 12
	COMBOBOX IDC_IMGBASE, 80, 118, 53, 87, WS_BORDER | WS_TABSTOP | CBS_DROPDOWN | CBS_AUTOHSCROLL, WS_EX_CLIENTEDGE
	PUSHBUTTON "&OK", IDOK, 144, 7, 53, 14, , 0x4000 | WS_EX_STATICEDGE
	PUSHBUTTON "Cancel", IDCANCEL, 144, 24, 53, 14, , 0x4000 | WS_EX_STATICEDGE
	PUSHBUTTON "About", IDABOUT, 144, 41, 53, 14, , 0x4000 | WS_EX_STATICEDGE
}
