
#include "plg_rsrc.h"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

IDD_IDABIZY DIALOG 200, 100, 247, 61
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "ida bizy"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "Tahoma" {
	LTEXT "plugin is designed to work on fully finished disassembly. running the plugin sooner may produce incomplete or wrong results.", IDC_LABEL1, 7, 7, 233, 30
	PUSHBUTTON "&wait", IDRETRY, 82, 42, 50, 14, WS_CHILD | BS_PUSHBUTTON | WS_GROUP, 0x4000 | WS_EX_STATICEDGE
	PUSHBUTTON "&run!", IDIGNORE, 136, 42, 50, 14, WS_CHILD | BS_PUSHBUTTON, 0x4000 | WS_EX_STATICEDGE
	PUSHBUTTON "&cancel", IDCANCEL, 190, 42, 50, 14, WS_CHILD | BS_PUSHBUTTON, 0x4000 | WS_EX_STATICEDGE
}
